<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aucegypt.ingyn.e3adad" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To capture image -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- To get the current day -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/teal_material_theme" >
        <activity
            android:name=".activities.MainScreen"
            android:label="MainScreen" >
        </activity>
        <activity
            android:name=".activities.Camera_scan"
            android:label="@string/title_activity_camera_scan" >
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="E-3adad"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".activities.PaymentHistory"
            android:label="@string/title_activity_payment_history" >
        </activity>
        <activity
            android:name=".activities.SignIN"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".activities.Temporary"
            android:label="@string/title_activity_temporary" >
        </activity>
    </application>

</manifest>
